* {
  box-sizing: border-box;
}

body {
  background-color: green;
  margin: 0;
}


div#sky {
  position: relative;
  background: linear-gradient(#7af,#def);
  width: 100%;
  min-height: 80px;
}

div#title {
  position: absolute;
  font-size: 20pt;
  bottom: 0;
  text-align: center;
  width: 100%;
}

div#ground {
  -webkit-perspective: 1200px;
	-webkit-perspective-origin: 50% -65%;
  overflow: hidden;
  position: relative;
  //min-height: 650px;
}

#mapcontainer {
  position: relative;
  //width: 83vw;
  max-width: 1000px;
  height: 650px;
  top: 0;
  left: 0px;
  transform-origin: left top;
  transform: rotateX(90deg);
}



svg#viewbox {
  position: absolute;
  top: -940px;
  left: 0;
  transition: transform .4s linear;
  
}

#placelines path.even {
  fill: #444;
}

svg#bellbox {
  position: absolute;
  top: -80px;
  left: 0;
  transform: translateZ(630px);
  transform-origin: left center;
}


.disabled {
  color: gray;
  opacity: 0.7;
}

#buttoncontainer button {
  font-size: 40pt;
  bottom: 0;
  transform: translateZ(0);
  background-color: transparent;
  position: absolute;
}





div#overlay {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  background: linear-gradient(white,30px,transparent);
  transform: translateZ(0px);
}

#dialogUnderlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000;
    opacity: 0.2;
  }
  .dialog {
    padding: 1em;
    z-index: 20;
    background-color: #fff;
    border: 2px solid #008800;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    max-width: 1000px;
  }

div.button {
  border: 1px solid black;
  background-color: #eee;
  font-size: 20pt;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}
div.button:last-child {
  margin-bottom: 0;
}
div.button:hover {
  cursor: pointer;
}
div.button.disabled:hover {
  cursor: auto;
}